//fonts//
$main-font:

//font sizes//
$s-x-small: px;
$s-small: px;
$s-regular: px;
$s-medium: px;
$s-large: px;

//font weights//
$w-normal: 400;
$w-bold: 600;

//colors//
$text-color:

//margins//
$side-site-margin: