@use 'var';



//base//
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a, button, input, textarea, select {
    all: unset;
}
ul, li {
    list-style-type: none;
}


.body {
    width: 100%;
    background-color: var.$white-color;
    //position: relative;
    //top: 0;
    //CENTER !!!! CHECK LATER!!!!!
    margin: auto;
    overflow-x: hidden;  //hide width scroll
}

//REUSABLES//
.logo {
    font-family: var.$main-font;
    color: var.$white-color;
    font-weight: var.$w-x-bold;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}
.title {
    font-family: var.$main-font;
    color: var.$white-color;
    font-weight: var.$w-normal;
    text-transform: capitalize;
    letter-spacing: 6.82px;
}
.btn-main {
    background-color: var.$main-color;
    padding: 1vw;
    color: var.$white-color;
    font-family: var.$secondary-font;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    &:hover {
        background-color: var.$main-lighter-color;
        cursor: pointer;
    }
}

//HEADER// 
.header {
    width: 100vw;
    max-width: 1800px;
    height: 45vw;
    //max-height: 820px;
    background-image: url(../img/bg-img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vw 1vw 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        width: 65vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__logo {
            font-size: var.$s-x-large;
            line-height: 26px;
            padding-bottom: .6vw;
        }
        &__title {
            font-size: var.$s-medium;
            line-height: 26px;
        }
        &__search {
            width: 36vw;
            height: auto;
            margin: 2.5vw 0 6vw 0;
            background-color: var.$white-color;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: flex-end;
            gap: .2vw;
            padding: .2vw;
            &__btn {
                display: flex;
                gap: 1vw;
            }
            &__input {
                width: 100%;
                background-color: var.$white-color;
                &::placeholder {
                    text-align: center;
                    font-family: var.$main-font;
                    color: var.$text-placeholder-color;
                    font-size: var.$s-x-small;
                    font-weight: var.$w-normal;
                    letter-spacing: 2.8px;
                }
                &:hover {
                    background-color: var.$text-light-color;
                    //FINISH LATER!!!!!//
                }
            }
        }
        &__scroll {
            display: flex;
            flex-direction: column;
            gap: .4vw;
            align-items: center;
            color: var.$white-color;
            &__text {
                font-family: var.$main-font;
                font-size: var.$s-x-small;
                font-weight: var.$w-normal;
                text-transform: capitalize;
                letter-spacing: 2.8px;
            }
        }
    }
}
.nav {
    width: 100vw;
    max-width: 1800px;
    height: 4.5vw;
    background-color: var.$main-color;
    margin: 0vw 1vw 0 1vw;
    position: sticky;
    top: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    &__content {
        width: 65vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            font-size: var.$s-x-medium;
        }
        &__list {
            display: flex;
            gap: 2.5vw;
        }
        &__item {
            font-family: var.$secondary-font;
            font-size: var.$s-x-small;
            font-weight: var.$w-normal;
            color: var.$white-color;
            text-transform: uppercase;
            line-height: 26px;
            &:hover {
                cursor: pointer;
                text-transform: lowercase;
            }
        }
    }
}
.main {
    .why {
        width: 100vw;
        height: 38vw;
        max-width: 1800px;
        background-image: url(../img/bg-img-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1vw;
        &__content {
            width: 65vw;
            display: flex;
            justify-content: space-between;
            &__left {
                width: 31vw;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                &__title {
                    font-family: var.$secondary-font;
                    font-size: var.$s-large;
                    font-weight: var.$w-normal;
                    color: var.$white-color;
                    line-height: 26px;
                }
                &__text {
                    font-family: var.$main-font;
                    font-size: var.$s-small;
                    font-weight: var.$w-normal;
                    color: var.$text-light-color;
                    letter-spacing: 1.6px;
                    line-height: 26px;
                    padding: 2.5vw 0;
                }
                &__btn {
                    //width: auto;
                    //FIX THIS BUTTON LATER!!!!!!!!!!!!!!//
                }
            }
            &__right {
                width: 24.5vw;
                display: flex;
                flex-direction: column;
                gap: .4vw;
                &__img {
                    width: 19vw;
                    &:first-child {
                        align-self: flex-start;
                    }
                    &:last-child {
                        align-self: flex-end;
                    }
                } 
            }
        }
    }
    .how {
        width: 100vw;
        height: 19vw;
        max-width: 1800px;
        background-color: var.$bg-dark-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1vw;
        &__content {
            position: relative;
            width: 65vw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9vw;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vw;
                background-color: var.$bg-dark-color;
                z-index: 2;
            }
            &__icon {
                i {
                    font-size: var.$s-x-large;
                    color: var.$main-color;
                }
            }
            .other {
                i {
                    color: var.$accent-color;
                }
            }
            &__text {
                font-family: var.$secondary-font;
                font-weight: var.$w-normal;
                font-size: var.$s-large;
                color: var.$text-light-color;
                line-height: 26px;
                text-transform: capitalize;
            }
            &__img {
                position: absolute;
                top: -3vw;
                //NOT RESPONSIBLE CHECK LATER!!!!!!!!!!!!!!!!!//
            }
        }
    }
    .travel {
        width: 100vw;
        max-width: 1800px;
        &__one {
            background-image: url(../img/bg-img-3.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 1vw;
            height: 38vw;
            display: flex;
            justify-content: center;
            align-items: center;
            &__content {
                width: 65vw;
                height: 28vw;
                display: flex;
            }
        }
        &__two {
            background-image: url(../img/bg-img-4.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 1vw;
            height: 38vw;
            display: flex;
            justify-content: center;
            align-items: center;
            &__content {
                width: 65vw;
                height: 28vw;
                display: flex;
                flex-direction: row-reverse;
            }
        }
        .card {
            width: 30vw;
            height: 21vw;
            background-color: rgba(35, 35, 35, .9);
            padding: 1.6vw;
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__subtitle {
                font-family: var.$main-font;
                font-size: var.$s-regular;
                font-weight: var.$w-normal;
                color: var.$text-light-color;
                text-transform: capitalize;
            }
            &__title {
                padding: 1.2vw 0 .8vw 0;
                font-family: var.$main-font;
                font-size: var.$s-regular;
                font-weight: var.$w-normal;
                color: var.$white-color;
                text-transform: uppercase;
            }
            &__text {
                font-family: var.$main-font;
                font-size: var.$s-small;
                font-weight: var.$w-normal;
                color: var.$text-light-color;
                line-height: 26px;
                padding-bottom: 2.5vw;
            }
        }
    }
    
}