.main .testimonial__content__title, .main .why__content__left__title {
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button, input, textarea, select {
  all: unset;
}

ul, li {
  list-style-type: none;
}

.body {
  width: 100%;
  background-color: #fff;
  margin: auto;
  overflow-x: hidden;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 6.82px;
}

.btn-main {
  background-color: #5474fd;
  padding: 1vw;
  color: #fff;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.btn-main:hover {
  background-color: #00a2ff;
  cursor: pointer;
}

.header {
  width: 100vw;
  max-width: 1800px;
  height: 45vw;
  background-image: url(../img/bg-img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1vw 1vw 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__content__logo {
  font-size: 48px;
  line-height: 26px;
  padding-bottom: 0.6vw;
}
.header__content__title {
  font-size: 22px;
  line-height: 26px;
}
.header__content__search {
  width: 36vw;
  height: auto;
  margin: 2.5vw 0 6vw 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 0.2vw;
  padding: 0.2vw;
}
.header__content__search__btn {
  display: flex;
  gap: 1vw;
}
.header__content__search__input {
  width: 100%;
  background-color: #fff;
}
.header__content__search__input::-moz-placeholder {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
}
.header__content__search__input:-ms-input-placeholder {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
}
.header__content__search__input::placeholder {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
}
.header__content__search__input:hover {
  background-color: #e8e8e8;
}
.header__content__scroll {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  align-items: center;
  color: #fff;
}
.header__content__scroll__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2.8px;
}

.nav {
  width: 100vw;
  max-width: 1800px;
  height: 4.5vw;
  background-color: #5474fd;
  margin: 0vw 1vw 0 1vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.nav__content {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__content__logo {
  font-size: 24px;
}
.nav__content__list {
  display: flex;
  gap: 2.5vw;
}
.nav__content__item {
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 26px;
}
.nav__content__item:hover {
  cursor: pointer;
  text-transform: lowercase;
}

.main .why {
  width: 100vw;
  height: 38vw;
  max-width: 1800px;
  background-image: url(../img/bg-img-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
}
.main .why__content {
  width: 65vw;
  display: flex;
  justify-content: space-between;
}
.main .why__content__left {
  width: 31vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main .why__content__left__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
  letter-spacing: 1.6px;
  line-height: 26px;
  padding: 2.5vw 0;
}
.main .why__content__right {
  width: 24.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}
.main .why__content__right__img {
  width: 19vw;
}
.main .why__content__right__img:first-child {
  align-self: flex-start;
}
.main .why__content__right__img:last-child {
  align-self: flex-end;
}
.main .how {
  width: 100vw;
  height: 19vw;
  max-width: 1800px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
}
.main .how__content {
  position: relative;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9vw;
}
.main .how__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  background-color: #333333;
  z-index: 2;
}
.main .how__content__icon i {
  font-size: 48px;
  color: #5474fd;
}
.main .how__content .other i {
  color: #ff6363;
}
.main .how__content__text {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  color: #e8e8e8;
  line-height: 26px;
  text-transform: capitalize;
}
.main .how__content__img {
  position: absolute;
  top: -3vw;
}
.main .travel {
  width: 100vw;
  max-width: 1800px;
}
.main .travel__one {
  background-image: url(../img/bg-img-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1vw;
  height: 38vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .travel__one__content {
  width: 65vw;
  height: 28vw;
  display: flex;
}
.main .travel__two {
  background-image: url(../img/bg-img-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1vw;
  height: 38vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .travel__two__content {
  width: 65vw;
  height: 28vw;
  display: flex;
  flex-direction: row-reverse;
}
.main .travel .card {
  width: 30vw;
  height: 21vw;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 1.6vw;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .travel .card__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #e8e8e8;
  text-transform: capitalize;
}
.main .travel .card__title {
  padding: 1.2vw 0 0.8vw 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.main .travel .card__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
  line-height: 26px;
  padding-bottom: 2.5vw;
}
.main .testimonial {
  width: 100vw;
  height: 40vw;
  max-width: 1800px;
  background-image: url(../img/bg-img-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
}
.main .testimonial__content {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .testimonial__content__title {
  padding-bottom: 4.7vw;
}
.main .testimonial__content__card {
  display: flex;
  height: 16vw;
  background-color: #333333;
}
.main .testimonial__content__card__left img {
  height: 16vw;
}
.main .testimonial__content__card__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5vw 1.5vw 1.5vw 3.3vw;
}
.main .testimonial__content__card__right__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fefefe;
  line-height: 26px;
  text-transform: uppercase;
}
.main .testimonial__content__card__right__quote i {
  font-size: 22px;
  color: #496bfe;
  padding-right: 1vw;
  display: inline;
}
.main .testimonial__content__card__right__quote__text {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
  line-height: 26px;
}

.footer {
  width: 100vw;
  max-width: 1800px;
  height: 15vw;
  margin: 0 1vw 1vw 1vw;
  display: flex;
  justify-content: center;
  background-color: #232323;
}
.footer__content {
  width: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2.2vw;
}
.footer__content__logo {
  font-size: 22px;
}
.footer__content__title {
  font-size: 16px;
  letter-spacing: 1.6px;
  padding: 0.5vw 0 1vw 0;
}
.footer__content__icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer__content__icons i {
  font-size: 16px;
  color: #e8e8e8;
}
.footer__content__icons i:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.footer__content__icons .other {
  color: #5474fd;
}/*# sourceMappingURL=styles.css.map */